#banner {
  @charset "utf-8";
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
#banner .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#banner .swiper-wrapper {
  overflow: hidden;
}
#banner .swiper-container .swiper-slide a {
  width: 100%;
  display: block;
}
#banner .swiper-container .swiper-slide a:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
#banner .swiper-container .swiper-slide .banner {
  width: 1220px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
#banner .swiper-container .swiper-slide .banner1 .notes {
  position: absolute;
  left: 34px;
  top: 298px;
  opacity: 0;
  width: 574px;
  height: 150px;
  background: url("../images/index/banner1notes.png");
}
#banner .swiper-container .swiper-slide .banner1 .eyes {
  width: 265px;
  height: 76px;
  background: url("../images/index/eyes.png") no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  z-index: 10;
  position: absolute;
  top: 416px;
  left: 739px;
  opacity: 0;
  display: none;
}
#banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 6px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: none;
}
#banner .swiper-container .swiper-pagination .swiper-pagination-bullet b {
  width: 100%;
  height: 100%;
  display: block;
  background: #FFFFFF;
}
#banner .swiper-container .swiper-pagination .swiper-pagination-bullet-active b {
  -webkit-animation: banner 5s linear;
     -moz-animation: banner 5s linear;
       -o-animation: banner 5s linear;
          animation: banner 5s linear;
}
#banner .swiper-container .swiper-button-prev {
  left: 55px;
  background: url("../images/public/leftBtn.png") no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  top: 455px;
}
#banner .swiper-container .swiper-button-next {
  right: 55px;
  background: url("../images/public/rightBtn.png") no-repeat;
  top: 455px;
}
#banner .bannerTips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0;
}
#banner .bannerTips .ban {
  position: relative;
  width: 1220px;
  height: 100%;
  margin: 0 auto;
}
#banner .bannerTips .bannerMsg {
  width: 100%;
  position: absolute;
  top: 312px;
  color: #fff;
}
#banner .bannerTips h2 {
  font-size: 48px;
  font-weight: 400;
  opacity: 0;
  -webkit-transform: translateY(-100px);
     -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
       -o-transform: translateY(-100px);
          transform: translateY(-100px);
}
#banner .bannerTips h4 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 30px;
  opacity: 0;
  -webkit-transform: translateY(-120px);
     -moz-transform: translateY(-120px);
      -ms-transform: translateY(-120px);
       -o-transform: translateY(-120px);
          transform: translateY(-120px);
}
#banner .bannerTips1 .bannerMsg {
  text-indent: 20px;
}
#banner .bannerTips2 .bannerMsg {
  top: 164px;
  text-align: center;
}
#banner .bannerTips5 .bannerMsg {
  top: 250px;
}
#banner .bannerTips3 .bannerMsg {
  top: 388px;
  text-indent: 510px;
}
#banner .bannerTips3 h4 {
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  margin-top: 10px;
}
#banner .bannerTips4 .bannerMsg {
  top: 303px;
  text-indent: 184px;
  text-align: left;
}
#banner .bannerTips4 .bannerMsg h2,
#banner .bannerTips4 .bannerMsg h4 {
  color: #1b1d1f;
}
#banner .bannerTips4 .bannerMsg p {
  color: #747474;
  margin-top: 10px;
  opacity: 0;
  -webkit-transform: translateY(-100px);
     -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
       -o-transform: translateY(-100px);
          transform: translateY(-100px);
}
#banner .swiper-slide-active .bannerTips1 h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s 2s;
  -o-transition: all 1s 2s;
  -moz-transition: all 1s 2s;
  transition: all 1s 2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner .swiper-slide-active .bannerTips1 h4 {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s 2s;
  -o-transition: all 1s 2s;
  -moz-transition: all 1s 2s;
  transition: all 1s 2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner .swiper-slide-active .bannerTips2 h2,
#banner .swiper-slide-active .bannerTips3 h2,
#banner .swiper-slide-active .bannerTips4 h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s 0.5s;
  -o-transition: all 1s 0.5s;
  -moz-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner .swiper-slide-active .bannerTips2 h4,
#banner .swiper-slide-active .bannerTips3 h4,
#banner .swiper-slide-active .bannerTips4 h4,
#banner .swiper-slide-active .bannerTips2 p,
#banner .swiper-slide-active .bannerTips3 p,
#banner .swiper-slide-active .bannerTips4 p {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s 0.5s;
  -o-transition: all 1s 0.5s;
  -moz-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner.beginB .swiper-slide-active .bannerTips1 h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner.beginB .swiper-slide-active .bannerTips1 h4 {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#banner.beginB .swiper-slide-active .bannerTips1p h2 {
  -webkit-transition: all 1s 0.5s;
  -o-transition: all 1s 0.5s;
  -moz-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}
#banner.beginB .swiper-slide-active .bannerTips1p h4 {
  -webkit-transition: all 1s 0.5s;
  -o-transition: all 1s 0.5s;
  -moz-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}
#banner .swiper-container {
  width: 100%;
  height: 100%;
}
#banner .swiper-container a {
  display: block;
}
#banner .arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 999;
}
#banner .arrow-left span {
  margin-top: -32px;
  display: block;
  left: 20px;
  top: 50%;
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background: rgba(180, 180, 180, 0.25) url(../images/public/arrows.png) no-repeat center 17px;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#banner .arrow-left:hover span {
  opacity: 0.6;
}
#banner .arrow-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
  z-index: 999;
}
#banner .arrow-right span {
  margin-top: -32px;
  display: block;
  right: 20px;
  top: 50%;
  position: absolute;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background: rgba(180, 180, 180, 0.25) url(../images/public/arrows.png) no-repeat center -71px;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#banner .arrow-right:hover span {
  opacity: 0.6;
}
#banner .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}
#banner .pagination li {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0 3px;
  cursor: pointer;
}
#banner .pagination li span {
  width: 50px;
  height: 6px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  display: block;
  overflow: hidden;
  background: rgba(128, 128, 128, 0.2);
}
#banner .pagination li span i {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: #FFFFFF;
  height: 6px;
  display: block;
  opacity: 0;
}
#banner .noClick li span i {
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
      -ms-transform-origin: 0;
       -o-transform-origin: 0;
          transform-origin: 0;
  opacity: 1;
}
#banner .pagination .current span i,
#banner .pagination .firstCurrent span i {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
}
#banner .pagination .click span {
  background: gray;
}
#banner .pagination .click span i {
  display: none;
}
#banner .autoplay li span i {
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
      -ms-transform-origin: 0;
       -o-transform-origin: 0;
          transform-origin: 0;
  opacity: 1;
}
#banner .autoplay .firstCurrent span i {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 5s linear;
  -o-transition: all 5s linear;
  -moz-transition: all 5s linear;
  transition: all 5s linear;
}
#banner .autoplay .current span i {
  -webkit-transform: scaleX(1);
     -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 5s linear;
  -o-transition: all 5s linear;
  -moz-transition: all 5s linear;
  transition: all 5s linear;
}
#banner .autoplay .replace span {
  background: gray;
}
#banner .autoplay .replace span i {
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
       -o-transform: scaleX(0);
          transform: scaleX(0);
}
#news {
  width: 100%;
  margin: 80px auto;
  height: auto;
  overflow: hidden;
}
#news .news {
  width: 33.3%;
  min-width: 400px;
  float: left;
  border-right: 8px solid #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
#news .news:nth-of-type(2) {
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
}
#news .news:nth-of-type(3) {
  border-left: 8px solid #ffffff;
  border-right: none;
}
#news .news .images {
  overflow: hidden;
  position: relative;
}
#news .news .images .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.4;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#news .news .msg {
  height: 110px;
  overflow: hidden;
  padding: 0 10px;
}
#news .news .msg p {
  width: 100%;
  font-size: 24px;
  line-height: 68px;
  color: #737475;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
#news .news .msg i {
  width: 4px;
  height: 16px;
  display: inline-block;
  float: left;
  margin-top: 3px;
}
#news .news .msg .ornge {
  background: #fb6629;
}
#news .news .msg .blue {
  background: #1eaaf1;
}
#news .news .msg .black {
  background: #1b1d1f;
}
#news .news .msg span {
  display: inline-block;
  float: left;
  font-size: 16px;
  color: #737475;
  margin-left: 6px;
}
#news .news .msg b {
  display: inline-block;
  float: right;
  font-size: 16px;
  color: #999999;
  font-weight: normal;
}
#news .news a {
  position: relative;
}
#news .news a img {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#news .news a .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#news .news a,
#news .news img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#news .news a:hover img,
#news .news img:hover img {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#news .news a:hover .mask,
#news .news img:hover .mask {
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 0;
}
#languageMask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}
#languageMask .maskBg {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
  z-index: 10;
}
#languageMask .maskContent {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -384px;
  margin-top: -255px;
  width: 768px;
  height: 442px;
  background: #fff;
}
#languageMask .maskContent .maskTitle {
  position: relative;
  height: 70px;
  line-height: 70px;
  background: #f6f6f6;
  text-indent: 20px;
  font-size: 18px;
  color: #999;
}
#languageMask .maskContent .maskTitle span {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: block;
  font-size: 30px;
  line-height: 66px;
  text-indent: 24px;
}
#languageMask .maskContent .maskTitle span:hover {
  background: #515151;
  color: #ffffff;
}
#languageMask .maskContent .maskLanguage {
  padding: 30px;
}
#languageMask .maskContent .maskLanguage ul {
  width: 666px;
  height: 312px;
  margin: 0 auto;
  overflow: auto;
}
#languageMask .maskContent .maskLanguage ul::-webkit-scrollbar {
  width: 0px;
}
#languageMask .maskContent .maskLanguage ul li {
  float: left;
  width: 166px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 10px;
  list-style: none;
}
#languageMask .maskContent .maskLanguage ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #515151;
  font-size: 14px;
}
#languageMask .maskContent .maskLanguage ul li a i {
  width: 34px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../../images/index/china.jpg") no-repeat;
  -moz-background-size: cover;
       background-size: cover;
}
#languageMask .maskContent .maskLanguage ul li a span {
  display: inline-block;
  width: 80px;
  text-align: left;
}
.MoreProduct {
  position: absolute;
  right: -23px;
  bottom: 106px;
  width: auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.MoreProduct span {
  float: left;
  color: #999999;
  font-size: 16px;
}
.MoreProduct .more {
  width: 23px;
  height: 23px;
  background: url("../images/add.png") no-repeat;
  -moz-background-size: contain;
       background-size: contain;
  float: left;
  margin-left: 7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.MoreProduct:hover {
  right: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.MoreProduct:hover .more {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
@-webkit-keyframes banner {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes banner {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes banner {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes banner {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
#product {
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
}
#product .productTitle {
  width: 100%;
  height: 25px;
  position: relative;
  margin: 74px 0 30px;
  text-align: center;
}
#product .productTitle .titleP {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
  height: 24px;
  margin: 0 auto;
  line-height: 24px;
  background: #f5f5f5;
  color: #737475;
  z-index: 10;
  text-align: center;
  position: relative;
}
#product .productTitle .titleP:after {
  content: '';
  width: 80px;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #737475;
}
#product .productTitle .border {
  position: absolute;
  width: 100%;
  top: 12px;
  left: 0;
  height: 1px;
  background: #cdcdcd;
}
#product ul {
  margin-top: 60px;
  text-align: center;
  overflow: hidden;
}
#product ul:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
#product .productContent {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}
#product li {
  width: 255px;
  margin: 0 22.5px;
  background: #fff;
  display: inline-block;
}
#product li a {
  position: relative;
  width: 100%;
  height: 380px;
  display: block;
  overflow: hidden;
  font-size: 14px;
  color: #999;
  line-height: 34px;
  text-align: center;
}
#product li .message,
#product li .productTips {
  width: 100%;
  height: 90px;
  position: absolute;
  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#product li p {
  line-height: 24px;
  padding: 0 6px;
}
#product li h4 {
  font-size: 24px;
  color: #515151;
  margin-top: 26px;
  font-weight: 500;
}
#product li .productTips .tipsMessage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
}
#product li .productTips span {
  width: 88px;
  height: 88px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  right: -44px;
  top: -44px;
  z-index: 10;
  background: #da4440;
  display: none;
}
#product li .productTips i {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  width: 42px;
  height: 44px;
  line-height: 34px;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  color: #fff;
  z-index: 15;
  padding-right: 2px;
}
#product li:hover {
  -webkit-box-shadow: 0 10px 16px 0 rgba(62, 57, 107, 0.05), 0 0 0 transparent;
     -moz-box-shadow: 0 10px 16px 0 rgba(62, 57, 107, 0.05), 0 0 0 transparent;
          box-shadow: 0 10px 16px 0 rgba(62, 57, 107, 0.05), 0 0 0 transparent;
}
#product li:hover .message,
#product li:hover .productTips {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate(0, -106px);
     -moz-transform: translate(0, -106px);
      -ms-transform: translate(0, -106px);
       -o-transform: translate(0, -106px);
          transform: translate(0, -106px);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 0;
}
#product li:hover .productImg {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translate(-10px, 20px);
     -moz-transform: translate(-10px, 20px);
      -ms-transform: translate(-10px, 20px);
       -o-transform: translate(-10px, 20px);
          transform: translate(-10px, 20px);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 280px;
}
#product li:hover .money {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: 0;
  opacity: 1;
}
#product li.xinpin .productTips span {
  display: block;
  background: #9ac143;
}
#product li.exemption .productTips span {
  display: block;
  background: #f28e24;
}
#product li.discount .productTips span {
  display: block;
  background: #da4440;
}
#product li.upcoming .productTips span {
  display: block;
  background: #1ea9f0;
}
#product li.complimentary .productTips span {
  display: block;
  background: #fb6629;
}
#product li.hot .productTips span {
  display: block;
  background: #d32c25;
}
#product .productImg {
  position: absolute;
  -webkit-transform: translate(0, 106px);
     -moz-transform: translate(0, 106px);
      -ms-transform: translate(0, 106px);
       -o-transform: translate(0, 106px);
          transform: translate(0, 106px);
  width: 260px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#product .productImg img {
  width: 100%;
  display: inline-block;
}
#product .money {
  position: absolute;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: 0;
}
#product .money p {
  color: #006cbb;
  font-size: 16px;
  text-align: center;
}
#product .mores {
  overflow: hidden;
  position: relative;
  margin-bottom: 76px;
  text-align: center;
}
#product .mores b {
  width: 100%;
  height: 50px;
  display: block;
  z-index: 10;
  background: #F5F5F5;
  position: relative;
  top: -4px;
}
#product .ubtBtn {
  margin-top: 60px;
}
#product .spanMore {
  width: 76px;
  height: 44px;
  display: block;
  position: absolute;
  top: 61px;
  left: 573px;
  background: url(../images/index/more.gif) no-repeat center top;
  -moz-background-size: 76px 66px;
       background-size: 76px 66px;
  z-index: 5;
  -webkit-transition: all .5s .2s linear;
  -o-transition: all .5s .2s linear;
  -moz-transition: all .5s .2s linear;
  transition: all .5s .2s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#product .spanHover {
  top: 16px;
  height: 66px;
  -webkit-transition: all .5s .4s linear;
  -o-transition: all .5s .4s linear;
  -moz-transition: all .5s .4s linear;
  transition: all .5s .4s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#partner {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}
#partner .partnerTitle {
  width: 100%;
  height: 25px;
  position: relative;
  margin: 74px 0 40px;
  text-align: center;
}
#partner .border {
  position: absolute;
  width: 100%;
  top: 12px;
  left: 0;
  height: 1px;
  background: #cdcdcd;
}
#partner .titleP {
  font-size: 24px;
  display: inline-block;
  height: 24px;
  margin: 0 auto;
  line-height: 24px;
  background: #fff;
  color: #737475;
  z-index: 10;
  text-align: center;
  padding: 0 30px;
  position: relative;
}
#partner .titleP:after {
  content: '';
  width: 80px;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #737475;
}
#partner .morePartner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
#partner .morePartner .ubtBtn {
  margin: 60px auto;
}
#store {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  display: none;
}
#store .store {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
#store .bj {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/index/map.jpg) no-repeat center;
  -moz-background-size: cover;
       background-size: cover;
}
#store .bj .mask {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#store:hover .mask {
  background: #000000;
  opacity: 0.85;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#store:hover ul .siteBig a {
  background: url(../images/index/siteWhite.png) no-repeat center;
  -moz-background-size: 100%;
       background-size: 100%;
}
#store:hover ul .siteBig i {
  color: #fff;
}
#store:hover ul .site1 {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site1 1s forwards infinite alternate;
     -moz-animation: site1 1s forwards infinite alternate;
       -o-animation: site1 1s forwards infinite alternate;
          animation: site1 1s forwards infinite alternate;
}
#store:hover ul .site2 {
  opacity: 1;
  -webkit-transition: opacity 1s .2s;
  -o-transition: opacity 1s .2s;
  -moz-transition: opacity 1s .2s;
  transition: opacity 1s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site2 1s .4s forwards infinite alternate;
     -moz-animation: site2 1s .4s forwards infinite alternate;
       -o-animation: site2 1s .4s forwards infinite alternate;
          animation: site2 1s .4s forwards infinite alternate;
}
#store:hover ul .site3 {
  opacity: 1;
  -webkit-transition: opacity 1s .4s;
  -o-transition: opacity 1s .4s;
  -moz-transition: opacity 1s .4s;
  transition: opacity 1s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site3 1s .8s forwards infinite alternate;
     -moz-animation: site3 1s .8s forwards infinite alternate;
       -o-animation: site3 1s .8s forwards infinite alternate;
          animation: site3 1s .8s forwards infinite alternate;
}
#store:hover ul .site5 {
  opacity: 1;
  -webkit-transition: opacity 1s .4s;
  -o-transition: opacity 1s .4s;
  -moz-transition: opacity 1s .4s;
  transition: opacity 1s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site3 1s .8s forwards infinite alternate;
     -moz-animation: site3 1s .8s forwards infinite alternate;
       -o-animation: site3 1s .8s forwards infinite alternate;
          animation: site3 1s .8s forwards infinite alternate;
}
#store:hover ul .site6 {
  opacity: 1;
  -webkit-transition: opacity 1s .2s;
  -o-transition: opacity 1s .2s;
  -moz-transition: opacity 1s .2s;
  transition: opacity 1s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site2 1s .4s forwards infinite alternate;
     -moz-animation: site2 1s .4s forwards infinite alternate;
       -o-animation: site2 1s .4s forwards infinite alternate;
          animation: site2 1s .4s forwards infinite alternate;
}
#store:hover ul .site7 {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: site1 1s forwards infinite alternate;
     -moz-animation: site1 1s forwards infinite alternate;
       -o-animation: site1 1s forwards infinite alternate;
          animation: site1 1s forwards infinite alternate;
}
#store ul {
  width: 1220px;
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}
#store ul li {
  position: absolute;
  left: 162px;
  top: 86px;
  width: 24px;
  height: 36px;
  opacity: 0;
}
#store ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/index/site.png) no-repeat center;
  -moz-background-size: 100%;
       background-size: 100%;
}
#store ul .siteBig {
  width: 100%;
  top: 100px;
  left: 50%;
  margin-left: -50%;
  opacity: 1;
}
#store ul .siteBig a {
  position: absolute;
  display: block;
  width: 40px;
  height: 80px;
  margin-left: -20px;
  left: 50%;
  top: -76px;
  background: url(../images/index/siteRobot.png) no-repeat center;
  -moz-background-size: 100%;
       background-size: 100%;
}
#store ul .siteBig i {
  display: block;
  text-align: center;
  line-height: 24px;
  height: 24px;
  font-size: 16px;
  color: #777879;
}
#store ul .site2 {
  left: 338px;
  top: 36px;
}
#store ul .site3 {
  left: 478px;
  top: 86px;
}
#store ul .site5 {
  top: 86px;
  left: 708px;
}
#store ul .site6 {
  top: 36px;
  left: 848px;
}
#store ul .site7 {
  left: 1030px;
}
@-webkit-keyframes productEnter {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -9px;
  }
}
@-moz-keyframes productEnter {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -9px;
  }
}
@-o-keyframes productEnter {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -9px;
  }
}
@keyframes productEnter {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: -9px;
  }
}
@-webkit-keyframes productOut {
  0% {
    opacity: 1;
    bottom: -9px;
  }
  100% {
    opacity: 0;
    bottom: -100%;
  }
}
@-moz-keyframes productOut {
  0% {
    opacity: 1;
    bottom: -9px;
  }
  100% {
    opacity: 0;
    bottom: -100%;
  }
}
@-o-keyframes productOut {
  0% {
    opacity: 1;
    bottom: -9px;
  }
  100% {
    opacity: 0;
    bottom: -100%;
  }
}
@keyframes productOut {
  0% {
    opacity: 1;
    bottom: -9px;
  }
  100% {
    opacity: 0;
    bottom: -100%;
  }
}
@-webkit-keyframes loginMenu {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-moz-keyframes loginMenu {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-o-keyframes loginMenu {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes loginMenu {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@-webkit-keyframes moreCompanion {
  0% {
    top: 0;
  }
  100% {
    top: -45px;
  }
}
@-moz-keyframes moreCompanion {
  0% {
    top: 0;
  }
  100% {
    top: -45px;
  }
}
@-o-keyframes moreCompanion {
  0% {
    top: 0;
  }
  100% {
    top: -45px;
  }
}
@keyframes moreCompanion {
  0% {
    top: 0;
  }
  100% {
    top: -45px;
  }
}
@-webkit-keyframes mapBj {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mapBj {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mapBj {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mapBj {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes siteBig {
  0% {
    top: -90px;
  }
  100% {
    top: -110px;
  }
}
@-moz-keyframes siteBig {
  0% {
    top: -90px;
  }
  100% {
    top: -110px;
  }
}
@-o-keyframes siteBig {
  0% {
    top: -90px;
  }
  100% {
    top: -110px;
  }
}
@keyframes siteBig {
  0% {
    top: -90px;
  }
  100% {
    top: -110px;
  }
}
@-webkit-keyframes site1 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@-moz-keyframes site1 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@-o-keyframes site1 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@keyframes site1 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@-webkit-keyframes site2 {
  0% {
    top: 36px;
  }
  100% {
    top: 46px;
  }
}
@-moz-keyframes site2 {
  0% {
    top: 36px;
  }
  100% {
    top: 46px;
  }
}
@-o-keyframes site2 {
  0% {
    top: 36px;
  }
  100% {
    top: 46px;
  }
}
@keyframes site2 {
  0% {
    top: 36px;
  }
  100% {
    top: 46px;
  }
}
@-webkit-keyframes site3 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@-moz-keyframes site3 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@-o-keyframes site3 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}
@keyframes site3 {
  0% {
    top: 86px;
  }
  100% {
    top: 96px;
  }
}