body {font:14px "Arial",sans-serif; font-family:"微软雅黑"; background: #f5f5f5;}
html,body{-webkit-text-size-adjust:none;}
body,form,input,p,ul,li,h1,h2,h3,h4,h5,h6,table,th,td{padding:0;margin:0;}
ul,li{list-style:none;}
img {border:0; line-height:0;}
a{text-decoration:none; transition:all 0.4s;-webkit-transition:all 0.4s;}
.clear{ clear:both; width:100%; overflow:hidden; height:0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
a:hover{ color:#f60;}
input:focus{outline:none;}
textarea:focus{outline: none;}

.body_sp{position: fixed;top:0;left:0;width:100%;height:100%;}


/*1首页*/
/*导航*/
.header_wrap {position: relative; z-index: 10;}
.header {width: 1200px; margin: 0 auto; height: 67px; overflow: hidden;}
.header .logo {float: left; line-height: 0; margin-top: 14px;}
.header .nav {float: left; margin-left: 155px;}
.header .nav li {float: left; line-height: 65px; margin: 0 33px;}
.header .nav a {display: block; color: #fff; font-weight: bold;border-bottom: none;border-bottom: 2px solid rgba(0,0,0,0);font-size: 16px;}
.header .nav .on {border-bottom: 2px solid #fff;}
.header .nav a:hover {border-bottom: 2px solid #fff;}
.search_top {float: right; margin-top: 11px;font-size: 16px;}
.search_top a:hover {color: #f60;}
.search_top .search {padding: 9px; background: url(../images/search.png) center no-repeat; margin-right: 8px;}
.search_top a {color: #fff; font-weight: bold; margin-left: 13px;}
.header_wrap .header_border {height: 1px; background: url(../images/nav_border.png) repeat-x;}
/*右侧边栏*/
.index_right {position: fixed; right: 0; top: 340px; width: 44px; background: url(../images/right_bg.png); text-align: center; z-index: 10;}
.index_right li {padding: 10px 0; border-bottom: 1px solid #312d3b;background: none;transition: all 0.4s;position: relative;}
.index_right a {color: #fff; font-weight: bold; cursor: pointer;}
.index_right a:hover {color: #f60;}
.index_right li:hover {background:#004098;}

.index_right .l_txt{width:0;background: #004098;position: absolute;right:100%;padding:0;top:0;color: #fff;overflow: hidden;text-align: center;line-height: 18px;transition: all 0.5s;height:0;box-sizing: border-box;}
.index_right .l_txt span{display: inline-block;width: 100%;margin-bottom: 10px;}
.index_right .l_txt i{padding:5px;background: #fff;display: inline-block;margin-top: 10px;}
.index_right li:hover .l_txt{width:160px;height: 175px;padding:19px;}


/*天气*/
.tianqi {width: 1200px; position: absolute; top: 90px; left: 50%; margin-left: -600px; z-index: 10;}
.tianqi_box {width: 126px; height: 126px; float: right; border-radius: 63px; background: #d8d7e2; text-align: center; box-sizing: border-box; padding: 10px; color: #434343;}
.tianqi_box b {display: block; font-size: 16px;}
.tianqi strong {font-size: 12px;}
.tianqi .img{width:58px;height: 35px;margin:auto;}
.tianqi .img img{width:100%;}
/*轮播*/
.banner {margin-top: -68px; position: relative;}
.banner .item {height: 1800px; background: center no-repeat; background-size: cover;}
.owl-theme .owl-controls {margin-top: 0;}
.banner .owl-controls .owl-dots {position: absolute; bottom: 424px; width: 100%; z-index: 55;}
.banner .owl-theme .owl-dots .owl-dot span {width: 12px; height: 12px; margin: 0 9px; background: #fff;}
.banner .owl-theme .owl-dots .owl-dot.active span, 
.banner .owl-theme .owl-dots .owl-dot:hover span {background: #000;}
.banner .owl-carousel:after{content:"";display: block;width: 100%; height: 897px; background: url(../images/banner_bg.png) center repeat-y; background-size: cover; position: absolute; bottom: 0; left: 0;z-index: 1;}



.banner_bottom { position:absolute;z-index: 655; width: 100%; height: 400px;left:0;top:903px;}
.banner_bottom .txt_box {width: 1200px; margin: 0 auto; color: #fff; margin-top: 97px;}
.banner_bottom .banner_txt {font-size: 100px; font-weight: bold; line-height: 120px;}
.banner_bottom .banner_txt span {display: block; font-size: 76px; line-height: 92px;}
.banner_bottom .btn {overflow: hidden; font-size: 18px; margin-top: 25px;}
.banner_bottom .zlxx {float: left; color: #003f98; width: 230px; height: 72px; background: #fff; line-height: 72px; text-align: center; margin-right: 20px;}
.banner_bottom .zlxx:hover {color: #f60;}
.banner_bottom .xcp {float: left; width: 230px; height: 72px; border: 1px solid #fff; box-sizing: border-box; color: #fff;}
.banner_bottom .xcp i {float: left; line-height: 72px; width: 149px; font-style: normal; text-align: center;}
.banner_bottom .xcp a {float: right; width: 78px; height: 100%; background: #fff url(../images/video.png) center no-repeat; cursor: pointer;}


/*首页视屏*/
.vid_bg{ position:fixed; left:0; top:0; width:100%; height:100%; z-index:999; background: #000; background:rgba(0,0,0,0.7); display:none;}
.vid_con{ width:894px; height:520px; position:absolute; left:50%; top:50%; margin:-343px 0 0 -445px;}
.vid_con .vid_xx{ text-align:right;}
.vid_con .vid_xx a{ display:inline-block;  width:40px; height:40px; background:url(../images/tc_close.png);  z-index:2;}
.vid_con .vid_ul{ text-align:center; margin-top:50px;}
.vid_con .vid_ul a{ font-size:24px;color:#fff; border-bottom:2px solid #fff; padding-bottom:5px; margin:0 25px; transition:all 0.3s; -webkit-transition:all 0.3s;}
.vid_con .vid_ul a:hover{ color:#e40073;}
#vid_a1{ width:100%; height:100%;}


.vid a{ width:400px; height:267px; display:inline-block; background:#000;}
.vid .pic{ position:relative; display:block; line-height:0;}
.vid .pic img{ transition:all 0.3s;}
.vid b{ position:absolute; left:50%; top:50%; width:75px; height:75px; margin: -37px 0 0 -37px;}
.vid a:hover .pic img{ opacity:0.5;}


/*内容公用样式*/
.index_title {font-size: 24px; line-height: 30px;}
.index_strong {font-size: 30px; display: block; line-height: 40px; margin-top: 10px;}
.index_zhy {font-size: 16px; line-height: 28px; margin-top: 30px;}
.con_title {text-align: center; padding: 0 100px;}
/*项目简介*/
.index_xmjj {width: 1200px; margin: 0 auto; margin-top: -390px; background: #fff; padding-top: 58px; color: #444; position: relative; z-index: 10;}
.index_xmjj .index_zhy {padding: 0 100px;}
.index_xmjj .pic {margin-top: 38px; overflow: hidden; padding: 0 10px;}
.index_xmjj .pic li {position: relative;float: left; width: 33.33%; padding: 10px; box-sizing: border-box; line-height: 0;overflow: hidden;}
.index_xmjj .pic img {width: 100%;}
.xmjj_con {padding-left: 75px; padding-bottom: 30px; width: 60%; box-sizing: border-box;}
.xmjj_con .xmjj_tit {font-size: 18px; font-weight: 300; line-height: 24px; padding-left: 17px; background: url(../images/xmjj_circle.png) left center no-repeat; margin-top: 20px;}
.xmjj_con .xmjj_p {display: block; font-size: 14px; line-height: 24px; padding-left: 17px; margin: 16px 0 4px 0;}

.index_xmjj .l_indexBox{color:#fff;padding:30px 0;box-sizing:border-box;position: absolute;top:100%;left:10px;bottom:10px;right: 10px;background-color:rgba(0,0,0,0.6);transition: all 0.4s;}
.index_xmjj .pic li:hover .l_indexBox{top:10px;}
.index_xmjj .l_indexBox span{font-size: 20px;line-height: 27px;display: inline-block;padding-bottom: 25px;border-bottom: 2px solid #fff;padding:16px 70px 25px 30px;width: 248px;box-sizing: border-box;} 
.index_xmjj .l_indexBox .l_tit{font-size: 18px;line-height: 20px;padding:0 0 0 30px;}
/*绿色空间*/
.index_lskj {height: 568px; background: center no-repeat; background-size: cover;}
.lskj_con {width: 1200px; margin: 0 auto; padding-top: 150px;}
.lskj_con .lskj_title {width: 50%;}
/*便捷交通*/
.index_bjjt {position: relative; color: #fff;}
.index_bjjt .bjjt_bg {position: absolute; left: 0; top: 0; width: 100%; height: 462px; z-index: -1; background: center no-repeat; background-size: cover;}
.bjjt_con {width: 1200px; margin: 0 auto; padding-top: 65px;}
.bjjt_con .pic {margin-top: 66px; overflow: hidden;}
.bjjt_con .pic li {float: left; width: 33.33%;}
.bjjt_con .pic li a {display: block; position: relative; line-height: 0;}
.bjjt_con .pic span {height: 100%;position: absolute; right: 0; top: 0; width: 150px; line-height: 26px; color: #fff; text-align: center;}
.bjjt_con .pic b {display: block; line-height: 24px; padding: 20px 10px; border-top: 1px solid #5f82b3; margin-top: 15px;opacity:0;}
.bjjt_con .pic .btn {display: block; margin-top: 155px; margin-bottom: 30px;}
.bjjt_con .pic strong {font-size: 72px; font-weight: normal; font-family: arial;}
.bjjt_con .pic span,
.bjjt_con .pic b,
.bjjt_con .pic .btn{transition: all 0.5s;}

.bjjt_con .pic a:hover span {/*background: url(../images/span_bg.png);*/background:rgb:(0,63,152);background:rgba(0,63,152,0.8);}
.bjjt_con .pic a:hover b {opacity: 1;}
.bjjt_con .pic a:hover .btn {margin-top: 32px;}
/*商业配套*/
.index_sypt {color: #444;}
.sypt_con {width: 1200px; margin: 0 auto; padding-top: 72px;margin-bottom: 23px;}
.index_sypt .sypt_btn {background: top center no-repeat; height: 863px; width: 1430px; overflow: hidden; padding-top: 136px; box-sizing: border-box; margin: 0 auto;}
.index_sypt .sypt_btn li {float: left; width: 50%; box-sizing: border-box;}
.index_sypt .sypt_btn span {background: #f5f5f5; display: block; width: 96px; height: 96px; border: 1px solid #d3d3d3; border-radius: 48px; padding: 17px; box-sizing: border-box;position: relative;}
.index_sypt .sypt_btn b {display: block; width: 96px; text-align: center; font-size: 16px; color: #444; line-height: 40px;}
.index_sypt .sypt_btn a {width: auto; position: relative;}
.index_sypt .btn1 a,
.index_sypt .btn3 a,
.index_sypt .btn5 a {float: right; margin-right: 176px;}
.index_sypt .btn2 a,
.index_sypt .btn4 a,
.index_sypt .btn6 a {float: left; margin-left: 176px;}
.index_sypt .btn3 a, .index_sypt .btn4 a {margin-top: 45px;}
.index_sypt .btn5 a, .index_sypt .btn6 a {margin-top: 85px;}
.index_sypt .btn3 a {margin-right: 278px;}
.index_sypt .btn4 a {margin-left: 278px;}
.index_sypt .btn5 a {margin-right: 247px;}
.index_sypt .btn6 a {margin-left: 247px;}
.index_sypt .sypt_btn .img{transition: all 5s;}
.index_sypt .sypt_btn .img2 {opacity: 0;position: absolute;}
.index_sypt .sypt_btn i { color: #333; font-size: 15px; line-height: 24px; font-style: normal; position: absolute; top: 16px; width: 320px;}
.index_sypt .btn1 i,
.index_sypt .btn3 i,
.index_sypt .btn5 i {right: 116px;opacity:0;}
.index_sypt .btn2 i,
.index_sypt .btn4 i,
.index_sypt .btn6 i {left: 116px;opacity:0;}


.index_sypt a .img1,
.index_sypt .sypt_btn span{transition: all 0.4s;}

.index_sypt a:hover .img1 {opacity:0;}
.index_sypt a:hover .img2 {opacity: 1;top:0;left:0;bottom:0;right: 0;margin:auto;}
.index_sypt a:hover span {background: #004098; border: none;}
.index_sypt a:hover i {opacity:1;}
/*三星大厦*/
.index_sxds {position: relative; color: #fff; padding-bottom: 90px;}
.index_sxds .sxds_bg {position: absolute; left: 0; top: 0; width: 100%; height: 525px; z-index: -1; background: center no-repeat; background-size: cover;}
/*.sxds_con {width: 1200px; margin: 0 auto; padding-top: 75px;}
.index_sxds .pic {height: 400px; margin-top: 106px; overflow: hidden; background: #fff;border-right: 1px solid #e9e9e9; box-sizing: border-box;}
.index_sxds .pic li {float: left; width: 20%; text-align: center; height: 50%;box-sizing: border-box; border-left: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9; padding: 20px;}*/
.sxds_bottom {text-align: center; color: #333; margin-top: 90px;}
.sxds_bottom a {display: inline-block; width: 230px; height: 58px; background: #003f98; text-align: center; line-height: 58px; color: #fff; font-size: 18px; margin-top: 40px;}
.sxds_bottom a:hover {color: #f60;}

.sxds_con {width: 1200px; margin: 0 auto; padding-top: 75px;}
.index_sxds .con_pic{margin-top: 106px; }
.con_pic { overflow: hidden; /*background: #fff;*/border-left: 1px solid #e9e9e9; box-sizing: border-box;}
.con_pic li {float: left; width: 20%; text-align: center; height: 200px;box-sizing: border-box; border-right: 1px solid #e9e9e9;border-bottom: 1px solid #e9e9e9; padding: 20px;background: #fff;}
/*底部导航列表*/
.footer_nav {background:#fff; color:#444; line-height:24px; padding: 38px 0 26px;}
.nav-container{ width:1200px; margin:0 auto; overflow:hidden;}
.footer_logo {float: left; padding: 4px 0 0 7px; width: 20%; box-sizing: border-box;}
.navlist {float:left; width:14%;}
.navlist a {display: block; color:#444;}
.navlist-title{margin-bottom: 24px; font-weight: bold;}
.navlist a:hover {transition: all 0.4s; color: #f60;}
.footer_ewm {float: right; width: 88px; text-align: center;}
.footer_ewm span {display: block;}
.footer_ewm .erweima {line-height: 0;}
/*版权信息*/
.footer_box {height: 60px; background: #333; line-height: 60px;}
.footer_box .footer {width: 1200px; margin: 0 auto; overflow: hidden; color: #fff; font-size: 12px;}
.friendlink {float: left;}
.friendlink a {color: #fff; float: left; font-weight: bold; margin-right: 28px;}
.footer_box .copy {float: right;}

/*2项目区位*/
/*栏目公共样式*/
.lm_bg {background: #fff;}
.lm_banner {background: center no-repeat; background-size: cover; height: 365px; margin-top: -68px; position: relative; z-index: -1;}
.lm_banner .lm_tit {text-align: center; font-size: 36px; color: #fff; font-weight: bold; line-height: 48px; padding-top: 185px;}
.lm_nav {background: #004098; height: 50px; line-height: 50px; font-size: 18px; text-align: center;}
.lm_nav .nav_two {/*width: 1200px;*/ margin: 0 auto; overflow: hidden; background: url(../images/nav2_border.png) left top repeat-y;}
.lm_nav .ul1 li {float: left; width: 100%;}
.lm_nav .ul2 li {float: left; width: 50%;}
.lm_nav .ul3 li {float: left; width: 33.33%;}
.lm_nav .ul4 li {float: left; width: 25%;}
.lm_nav .ul5 li {float: left; width: 20%;}
.lm_nav .ul6 li {float: left; width: 16.66%;}
.lm_nav li a {display: block; color: #fff; background: url(../images/nav2_border.png) right top repeat-y;}
.lm_nav .select {background: #eaeaea; color: #555;}
.lm_nav li a:hover {background-color: #eaeaea; color: #555;}
/*项目区位内容*/
.xmqw {overflow: hidden; background: #f7f7f7;position: relative;}
.xmqw .xmqw_pic {float: left; width: 50%; line-height: 0;}
.xmqw .xmqw_pic img {width: 100%;}
.xmqw .xmqw_con {float: left; width: 50%;position: absolute;left: 50%;right: 0;top:0;bottom: 0;}
.xmqw .xmqw_con li {overflow: hidden;}
.xmqw .xmqw_con ul{position: absolute;left: 73px;right:19%;bottom: 5%;z-index: 9999;top:auto;}
.xmqw .xmqw_btn {background-color: #fff;float: left; width: 120px; height: 120px; border: 1px solid #004098; border-radius: 60px; margin: 0 5% 20% 0; padding: 32px; box-sizing: border-box;background-repeat: no-repeat;background-position: 0 center;transition: all 0.3s;}
.xmqw .xmqw_btn:hover {background-color:#004098; background-position: -120px center;}
.xmqw .xmqw_tit {font-size: 24px; color: #333; line-height: 36px; margin-bottom: 10px;}
.xmqw .xmqw_p {color: #666; line-height: 24px;font-size: 16px;}

/*3便捷交通*/
.bjjt_box {background: #fff;}
.bjjt_box .bjjt {width: 1200px; margin: 0 auto; padding: 50px 0 38px;}
.bjjt_box .bjjt_pic {line-height: 0;}
.bjjt_box .bjjt_bottom {margin-top: 165px; color: #666; font-size: 16px;}
.bjjt_box .bjjt_tit {position: relative; border-top: solid 1px #f1f1f1;font-size: 20px; color: #333;}
.bjjt_box .bjjt_tit b {display: inline-block; font-weight: normal; position: relative;top: -21px; background: #fff 0 center no-repeat; padding: 0 12px 0 57px; line-height: 42px;}
.bjjt_xinxi {margin-top: 64px;}
.bjjt_xinxi ul {margin-top: -14px; margin-left: 57px; line-height: 24px;}
.bjjt_xinxi .gjc_list {line-height: 28px; margin-top: -14px; margin-left: 57px;}
.bjjt_xinxi .gjc_list strong {color: #333;}
.bjjt_xinxi .bjjt_gjc {margin-bottom: 18px;}

/*4国际配置*/
.gjpz{position: relative;}
.gjpz .gjpz_div {overflow: hidden;position: relative;}
.gjpz .gjpz_pic {float: left; width: 50%; position: relative; line-height: 0;}
.gjpz .gjpz_pic .gjpz_span {position: absolute; left: 18.4%; top: 30.8%; width: 56.3%; height: 27.6%; border: 1px solid #fff; font-size: 48px; color: #fff;padding:12.5% 0;text-align: center; box-sizing: border-box;}
/*.gjpz_div .gjpz_pic img {width: 100%;}*/
.gjpz .con_box {width: 1200px; margin: 0 auto;}
.gjpz .gjpz_div4 .con_box{clear: both;overflow: hidden;}
.gjpz .gjpz_con {float: left; width: 50%; box-sizing: border-box;}
.gjpz .gjpz_tit {font-size: 30px; line-height: 43px; font-weight: bold; color: #444; padding-bottom: 24px; border-bottom: 3px solid #dfdfdf;}
.gjpz .gjpz_p {font-size: 18px; line-height: 32px; color: #666; margin-top: 30px}
.gjpz .gjpz_div1 .gjpz_con {padding: 367px 37px 0 90px;}
.gjpz .gjpz_div2 {background: #f5f8f9; padding:177px 97px 97px; box-sizing: border-box;}
.gjpz .gjpz_div2 span {position: absolute; top: -80px; left: 417px;left:48%;}
.gjpz .gjpz_div2 .gjpz_con {padding: 58px;}
/*.gjpz_div2 .gjpz_pic img {width: 100%;}*/
.gjpz .gjpz_div3 .gjpz_con {padding: 154px 54px 0 54px;}
.gjpz_div3 .gjpz_btn {overflow: hidden; font-size: 18px; line-height: 24px; margin-left: -80px; margin-top: 60px}
.gjpz_div3 .gjpz_btn li {float: left; width: 50%; padding: 0 27px; box-sizing: border-box; text-align: center; margin-bottom: 35px;}
.gjpz_div3 .gjpz_btn span {display: block; width: 70px; height: 70px; background: #004098; border-radius: 35px; margin: 0 auto;padding: 17px; box-sizing: border-box; margin-bottom: 25px;}
.gjpz_div3 .gjpz_btn b {font-weight: normal;}
.gjpz_div3 .gjpz_btn i {display: block; font-style: normal; margin-top: 10px;}
.gjpz_div3 .gjpz_btn .btn_last {width: 100%;}
.gjpz_div4 {height: 748px; background: center no-repeat; background-size: cover; color: #fff}
.gjpz_div4 .gjpz_tit, .gjpz_div4 .gjpz_p {color: #fff}
.gjpz_div4 .gjpz_tit {border-color: #fff; margin-top: 268px}
.gjpz_div4 table {width: 100%; margin-top: 155px; border-collapse: collapse; background: url(../images/gjpt_tableBg.png) left top repeat; font-size: 16px; line-height: 20px;}
.gjpz_div4 table th, .gjpz_div4 table td {border: 3px solid #93c0ff;}
.gjpz_div4 table th {font-weight: normal; text-align: left; width: 155px; padding: 32px 20px 32px 53px; box-sizing: border-box;}
.gjpz_div4 table td {padding: 32px 20px 32px 32px;}
.div4_con {padding-left: 53px}
.gjpz_div5 .gjpz_con {padding: 240px 0 0 50px;}
.gjpz_div6 {background: #f5f8f9; height: 750px;}
.div6_tit {font-size: 30px; line-height: 43px; font-weight: bold; text-align: center; margin: 125px 0 45px}
.div6_pic {line-height: 0;}
.div6_pic span{display: inline-block;}
.div6_pic .l_span1{margin-right: 40px;}

.div6_pic img {width: 100%;}
.gjpz_div7 .gjpz_con {padding: 320px 0 0 90px;}


.gjpz .gjpz_div7  .gjpz_con,.gjpz .gjpz_div1 .gjpz_con{width: 500px;padding:0;position: absolute;left: 90px;bottom: 29%;}
.gjpz .gjpz_div7 .con_box,.gjpz .gjpz_div1 .con_box{position: absolute;left:50%;position: absolute;left:50%;right: 0;top:0;bottom: 0;}

.gjpz  .gjpz_div5 .con_box,.gjpz  .gjpz_div3 .con_box,.gjpz .gjpz_div2 .con_box {position: absolute;left:0;position: absolute;top:0;bottom: 0;width: 50%;right: auto;}
.gjpz .gjpz_div2 .gjpz_con{padding:0;width:545px;right: 90px;top:20.5%;position: absolute;}
.gjpz .gjpz_div3  .gjpz_pic,.gjpz .gjpz_div2  .gjpz_pic{float: right;}
.gjpz .gjpz_div2 .gjpz_p{padding-right: 20px;}

.gjpz .gjpz_div3 .gjpz_con{padding:0;width:545px;right: 90px;top:20.5%;position: absolute;}
.gjpz .gjpz_div3 .gjpz_con{top:17%;}

.gjpz .gjpz_div5 .con_box{position: absolute;left: 50%;top:0;bottom: 0;right: 0;}
.gjpz_div5 .gjpz_con{width: 545px;left: 90px;padding:0;bottom: 31%;position: absolute;}
.gjpz .gjpz_div5 .gjpz_p{padding-right: 20px;}




/*5项目简介*/
.xmjj {background: #fff;}
.xmjj .xmjj_box {width: 1200px; margin: 0 auto; text-align: center; padding: 90px 170px 80px 125px; box-sizing: border-box;}
.xmjj .xmjj_h2 {font-size: 36px; color: #333; line-height: 48px; margin-bottom: 17px;}
.xmjj .xmjj_zy {color: #666; line-height: 24px;font-size: 16px;}
.xmjj .xmjj_table {background: center no-repeat; background-size: cover; height: 840px; padding-top: 140px; box-sizing: border-box;}
.xmjj .xmjj_table table {width: 1200px; margin: 0 auto; line-height: 24px; color: #333; border-collapse: collapse;}
.xmjj table tr {background: url(../images/table_tr.png) left top repeat;}
.xmjj .l_tit {font-size: 16px; color: #fff; line-height: 47px; background: url(../images/table_th.png) left top repeat;width:1200px;text-align: center;margin:0 auto;}
.xmjj table td {border: 1px solid #e1e1e1;  padding: 20px 20px 15px 64px;}
.xmjj table th {width: 210px; border: 1px solid #e1e1e1; font-size: 16px; font-weight: normal; text-align: left; padding: 20px 20px 15px 64px; box-sizing: border-box;}
/*6方正空间*/
.fzkj {background: #fff;}
.fzkj .fzkj_con {width: 1200px; margin: 0 auto; text-align: center; padding: 78px 210px 80px 210px; box-sizing: border-box;}
.fzkj .fzkj_tit {font-size: 36px; font-weight: bold; color: #444; line-height: 48px; margin-bottom: 10px;}
.fzkj .fzkj_zy {color: #666; line-height: 24px;font-size: 16px;}
.fzkj .fzkj_pic {overflow: hidden;}
.fzkj .pic_left {line-height: 0; width: 52%; float: left;}
.fzkj .pic_left .pic1 {width: 50%; padding: 0 14px 14px 0; box-sizing: border-box;}
.fzkj .pic_left .pic2 {width: 100%; padding-right: 14px; box-sizing: border-box;}
.fzkj .fzkj_tcc {width: 48%; float: left;}
.fzkj .fzkj_tcc a {display: block; line-height: 0;cursor: pointer;}
.fzkj .fzkj_tcc img {width: 100%;}
.fzkj .fzkj_bottom {line-height: 0; padding: 40px 0 50px; clear: both;position: relative;}
.fzkj .fzkj_bottom img {width: 100%;}
.fzkj_footer {background: #f5f5f5;}

.fzkj .item { background: center no-repeat; background-size: cover;}
.fzkj .owl-carousels{}
.fzkj .owl-carousel .owl-prev,
.fzkj .owl-carousel .owl-next{position: absolute;width:80px;height:80px;background: url(../images/controls.png) no-repeat; z-index: 999;top:50%;margin-top: -40px;font-size:0;transition: all 0.5s;}
.fzkj .owl-carousel .owl-next{background-position:-100px 0;right: 30px;}
.fzkj .owl-carousel .owl-prev{left:30px;}
.fzkj .owl-carousel:after{content:"";display: block;width: 100%; height: 100%; background:rgba(0,0,0,0.5); background-size: cover; position: absolute; bottom: 0; left: 0;z-index: 1;}
.fzkj .owl-carousel .owl-prev:hover,
.fzkj .owl-carousel .owl-next:hover{opacity: 0.5;filter: Alpha(opacity=50);}



/*7绿色空间*/
.lskj_xinxi {width: 1200px; margin: 0 auto; text-align: center; padding: 146px 166px; box-sizing: border-box; background: url(../images/lskj_lmbg.png) right -62px no-repeat;}
.lskj_xinxi .lskj_h {font-size: 36px; font-weight: bold; color: #444; line-height: 48px;}
.lskj_xinxi .lskj_h:after {content: ""; display: block; width: 80px; height: 2px; background: #004098; margin: 10px auto 35px;}
.lskj_xinxi .lskj_str {display: block; font-size: 18px; color: #444; line-height: 34px;}
.lskj_xinxi .lskj_p {line-height: 24px; color: #555555;}
/*绿色空间图片切换*/
/*.lskj_banner .pic_big {line-height: 0;}
.lskj_banner .pic_big img {width: 100%;}
.lskj_banner .lskj_pic {line-height: 0; margin: 10px -5px 0 -5px;}
.lskj_banner .lskj_pic img {width: 20%; padding: 0 5px; box-sizing: border-box;}*/
.lskj_banner {margin-bottom: 20px; position: relative;}
.lskj_banner .lSAction > a {width: 80px; height: 80px; margin-top: -40px;opacity: 1;transition: all 0.4s;}
.lskj_banner .lSAction > a:hover{opacity: 0.5;}
.lskj_banner .lSAction > .lSPrev {left: 30px;}
.lskj_banner .lSAction > .lSNext {right: 30px; background-position: -100px 0;}
.lskj_banner .li_tit {width: 55%; margin: 0 auto; position: absolute; top: 320px; left:0;right:0; z-index: 999; text-align: center;padding:0 40px; font-size: 36px; font-weight: bold; color: #fff; line-height: 120px; box-sizing: border-box; border-bottom: 4px solid #fff;}

/*8商业配套*/
.sypt_xinxi {width: 1200px; margin: 0 auto; text-align: center; box-sizing: border-box; color: #fff; padding: 80px 260px 44px;}
.sypt_con1 {padding-left: 310px;padding-right: 310px;}
.sypt .sypt_tit {font-size: 36px; font-weight: bold;line-height: 48px; margin-bottom: 10px;}
.sypt_con1 .sypt_tit {color: #444;}
.sypt .sypt_zy {line-height: 24px;font-size: 16px;} 
.sypt_con1 .sypt_zy {color: #666;font-size: 16px;}
.sypt_box {position: relative; min-height: 462px; margin-bottom: 20px;}
.sypt_box .sypt_bg {position: absolute; top: 0; left: 0; width: 100%; height: 462px; background: center no-repeat; background-size: cover; z-index: -1;}
.sypt_xinxi .sypt_btn {cursor: pointer;display: block; margin: 0 auto; width: 57px; height: 57px; background: url(../images/btn_btm.png) center no-repeat;}
.sypt .sypt_bottom {width: 1200px; margin: 0 auto; margin-top: 90px; position: relative; transition: all 1s;height:0;overflow: hidden;margin-bottom: 20px;}
.box_act .sypt_bottom {height:524px;}
.box_act .sypt_btn {background-image: url(../images/btn_top.png);}
.sypt .sypt_bottom .sypt_ul {overflow: hidden;height:524px;position: absolute;left:0;top:0;}
.sypt .sypt_bottom .item {float: left; width: 300px; height: 524px; text-align: center; box-sizing: border-box;  background: #fff;position: relative;}
.sypt .sypt_bottom .li_bg {background: #f9f9f9;}
.sypt .sypt_bottom b {display: block; font-weight: normal; font-size: 18px; color: #444; margin: 15px 0 20px}
.sypt .sypt_bottom span {color: #909090; line-height: 20px;}
.sypt_search {display: block; height: 17px; background: url(../images/sypt_search.png) right center no-repeat; margin-top: 5px;}
/*.sypt_lr {display: block; width: 43px; height: 97px; position: absolute; top: 50%; margin-top: -48px;transition: all 0.5s;}
.sypt_left {background: url(../images/sypt_left.png) center no-repeat; left: 0;transition: all 0.5s;}
.sypt_right {background: url(../images/sypt_right.png) center no-repeat; right: 0;}*/
.sypt_left:hover,.sypt_right:hover {opacity: 0.5;filter:Alpha(opacity=50);}
.syfbt {width: 1200px; margin: 0 auto; margin-bottom: 14px;}
.syfbt .syfbt_tit{display: inline-block; font-size: 30px; color: #333333; border-bottom: 1px solid #004098; line-height: 60px; margin-top: 35px;}
.syfbt ul {overflow: hidden; padding-top: 44px; border-top: 1px solid #dcdcdc; margin-top: -1px;}
.syfbt li {float: left; width: 16.66%; text-align: center; height: 125px; line-height: 125px; font-size: 26px; border: 1px solid #e1e1e1; box-sizing: border-box;     margin-right: -1px;}
.syfbt li a {display: block;color: #444;cursor: pointer;}
.syfbt li a:hover {background: #004098; color: #fff;}

.sypt .sypt_bottom .sypt_li_box {padding: 30px 15px 20px;}
.sypt .sypt_bottom .item img{display: inline-block;width: auto;}


.sypt .sypt_bottom .owl-carousel .owl-nav .owl-prev,.sypt .sypt_bottom  .owl-carousel .owl-nav .owl-next,.sypt .sypt_bottom .owl-carousel .owl-dot{font-size:0;display: block; width: 43px; height: 97px; position: absolute; top: 50%; margin-top: -48px;transition: all 0.5s;top:50%;margin-top:-48.5px;}
.sypt .sypt_bottom .owl-carousel .owl-nav .owl-prev{background: url(../images/sypt_left.png) center no-repeat; left: 0;transition: all 0.5s;}
.sypt .sypt_bottom .owl-carousel .owl-nav .owl-next{background: url(../images/sypt_right.png) center no-repeat; right: 0;}
.sypt .sypt_bottom .owl-carousel .owl-nav .owl-prev:hover,.sypt .sypt_bottom  .owl-carousel .owl-nav .owl-next:hover{opacity: 0.5;filter:Alpha(opacity=50);}

.sypt_bg .l_img2{ position: absolute; left: 0; top: 0; display: none; }

.sypt_btn{display: block;width:57px;height: 57px;margin:0 auto;background:url(../images/btn_btm.png) center no-repeat;}

/*新闻资讯*/
.xwzx {width: 1200px; margin: 0 auto; padding: 55px 0 54px;}
.xwzx ul {/*overflow: hidden;*/ margin: 0 -15px;position: relative;}
.xwzx li {float: left; width: 33.3%; padding: 15px; box-sizing: border-box;}
.xwzx a {display: block; color: #555;}
.xwzx a:hover {color: #f60;}
.xwzx .xwzx_pic {line-height: 0;}
.xwzx img {width: 100%;}
.xwzx_list {background: #fff; padding: 27px 30px; color: #555;}
.xwzx_time {display: inline-block;font-size: 14px; color: #999; padding-bottom: 5px; border-bottom: 2px solid #5d98ea; margin-bottom: 7px;}
.xwzx_list strong {font-size: 18px; line-height: 28px;}
.xwzx .xwzx_zy {line-height: 24px; margin-top: 10px;}
.xwzx .xwzx_btn {font-weight: bold; margin-top: 27px; line-height: 18px;}
.xwzx .xwzx_more {height: 58px; text-align: center; background: #e4e4e4 url(../images/xwzx_more.png) center 35px no-repeat; font-weight: bold; line-height: 28px; padding-top: 7px; box-sizing: border-box; margin-top: 9px;margin:0 15px;}

/*11新闻详情页*/
.xwxqy_banner {height: 168px;}
.xwxqy {width: 1200px; margin: 0 auto; color: #555; padding-bottom: 48px;}
.weizhi {color: #706f6f; margin: 42px 0 34px;font-size: 14px;}
.weizhi a {color: #706f6f;}
.xwxqy_pic {line-height: 0; text-align: center; margin-bottom: 41px;}
.xwxqy_con a {display: block; color: #555;}
.xwxqy_con .xwxqy_tit {display: block; font-size: 24px; line-height: 32px;}
.xwxqy_con .xwzx_p {font-size: 16px; line-height: 36px; margin: 28px 0 34px;}
.xwxqy_prev, .xwxqy_next {font-size: 14px; font-weight: bold;}
.xwxqy_prev {float: left; padding-left: 20px; background: url(../images/xwxqy_prev.png) left center no-repeat;}
.xwxqy_next {float: right; padding-right: 20px; background: url(../images/xwxqy_next.png) right center no-repeat;}
.xwxqy_con {overflow: hidden; padding-bottom: 17px; border-bottom: 1px solid #dedede;}
.xwxqy_list {margin-top: 50px;}
.xwxqy_list .list_tit {font-weight: bold; line-height: 32px;}
.xwxqy_list ul {overflow: hidden; margin: 0 -10px;}
.xwxqy_list li {float: left; width: 25%; padding: 10px; box-sizing: border-box;}
.xwxqy_list a {display: block; color: #555;}
.xwxqy_list .xwzx_pic {line-height: 0;}
.xwxqy_list img {width: 100%;}
.xwxqy a:hover {color: #f60;}
.xwxqy_list .xwzx_list strong {font-size: 16px; line-height: 24px;}
.xwxqy_list .xwzx_time {margin-bottom: 16px;}
.xwxqy_list .xwzx_list{padding-bottom: 50px;}

/*12租赁信息*/
.lm_zlzx {background: center no-repeat; background-size: cover; height: 830px;}
.lm_zlzx .zlzx_con {width: 1200px; margin: 0 auto; color: #fff;}
.zlxx_tit {overflow: hidden; position: relative; padding: 130px 0 10px; border-bottom: 1px solid #ededed;}
.zlxx_tit b{float: left; font-weight: normal; font-size: 30px; line-height: 40px;}
.zlxx_tit span {position: absolute; right: 0; bottom: 10px; line-height: 24px;}
.zlzx_bottom {overflow: hidden; padding-top: 43px;}
.zlzx_bottom .zlzx_form {float: left; width: 50%; padding-right: 25px; box-sizing: border-box;}
.zlzx_form span {display: block; font-size: 16px; line-height: 28px; margin-bottom: 10px;}
.zlzx_form .input_box {width: 100%; border: 1px solid #acacac; padding: 0 16px; margin-bottom: 20px; box-sizing: border-box; background: #fff; line-height: 43px; color: #868686;}

.zlzx_form input {width: 430px; border:none; height: 32px; padding: 0 10px; color: #868686; font-size: 14px; line-height: 24px; font-family: "微软雅黑";transition: all 0.4s;}
.zlzx_form input:hover{color:#004098;background: #fff;}
.zlzx_form textarea {resize: none; width: 100%;height: 205px; border: none; box-sizing: border-box; color: #868686; font-size: 14px; line-height: 24px; font-family: "微软雅黑";}
.zlzx_form button {padding: 0; height: 40px; width: 165px}
.zlzx_form .zlzx_sub {height: 41px; cursor: pointer; color: #fff; font-size: 14px; font-weight: bold; width: 165px; background: #004098; border: none; margin-bottom: 0; margin-top: 10px;}
.zlzx_right {float: left; width: 50%;}
.zlzx_right .zlxx_btn {float: left; width: 50%; margin-top: 123px; padding-left: 75px; box-sizing: border-box; text-align: center;}
.zlzx_right .zlxx_btn span {display: block; width: 120px; height: 120px; margin: 0 auto; border-radius: 60px; padding: 33px; box-sizing: border-box;}
.zlzx_right .zlxx_btn .gzsj {background: #3897d9;}
.zlzx_right .zlxx_btn .zlrx {background: #f59c0e;}
.zlzx_right .zlxx_btn b,
.zlzx_right .zlxx_btn strong {display: block; font-size: 20px; line-height: 44px;}
/*13多功能厅*/
.dgnt_form textarea {height: 145px;}
.dgnt_con {margin-left: 55px; margin-top: 37px; height: 400px; background: url(../images/dgnt_Rbg.png); padding: 30px; box-sizing: border-box; font-size: 15px; line-height: 24px;}
.dgnt_con ul {font-size: 16px; line-height: 30px;}

/*14资料下载*/
.zlxz {width: 1200px; margin: 0 auto; padding: 55px 0 145px;}
.zlxz ul {overflow: hidden;}
.zlxz ul li {float: left; width: 20%; padding: 15px; box-sizing: border-box;}
.zlxz ul li a {display: block; color: #555; text-align: center; background: #fff; border-radius: 14px; overflow: hidden;}
.zlxz ul li a:hover {color: #f60;}
.zlxz li span {display: block; height: 143px; background: url(../images/zlxz_btn.png) 57px center no-repeat; position: relative;}
.zlxz .JPG span {background-color: #ddd85c;}
.zlxz .PDF span {background-color: #55c8d9;}
.zlxz li b {position: absolute; left: 75px; top: 66px; color: #fff;}
.zlxz li strong {line-height: 143px;}

/*15联系我们*/
.lxwm ul {overflow: hidden; color: #444; font-size: 18px; line-height: 40px; width: 1200px; margin: 54px auto 87px;}
.lxwm ul li {float: left; width: 33.33%; padding-left: 40px; box-sizing: border-box; position: relative;}

.lxwm ul b {display: block;}
.lxwm ul i {float: left; font-style: normal;clear: both;}
.lxwm ul span {overflow: hidden;display: block;}
.lxwm_map {background: center no-repeat; background-size: cover; height: 972px;}
.lxwm ul .f1{width:328px;padding-right: 45px;padding-left: 0;}
.lxwm ul .f2{width:431px;padding-right: 43px;}
.lxwm ul .f3{width: 441px;}
.lxwm ul li:after{content:"";display: block;width:1px;height:300px;background:#ebebeb;position: absolute;right:0;top:10px;}
.lxwm ul .f3:after{display: none;}

/*入驻企业*/

.rzqy{width:1200px;margin:0 auto 50px;/*padding:146px 166px;*/}
.rzqy_titbox{width:1200px;margin:0 auto;text-align: center;padding:78px 210px 80px 210px;box-sizing: border-box;}
.rzqy_titbox .rzqy_tit{font-size: 36px;font-weight: bold;color: #444;line-height: 48px;margin-bottom: 10px;}
.rzqy_titbox .rzqy_rz {font-size: 16px;line-height: 24px;color: #666;}
.rzqy .con_pic li{position: relative;}
.rzqy .con_pic img{position: absolute;top:0;bottom: 0;right:0;left:0;margin:auto;transition: all 0.4s;}
.rzqy .con_pic .img2{opacity: 0;}

.rzqy .con_pic li:hover .img1{opacity:0;}
.rzqy .con_pic li:hover .img2{opacity:1;}


/*弹出层*/
/*公用*/
.l_tc{position: fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index: 10000;}
.l_tc img{width: 100%;}
.l_close{cursor: pointer;width:40px;height:40px;background:url(../images/tc_close.png) center no-repeat;position: absolute;right:0;top:-40px;z-index: 999;}
.l_tcCont_con{position:fixed; top: 50%; left: 50%; z-index: 999; width:1200px;margin-left:-600px;box-sizing: border-box;}
.l_tcCont_con .l_content{background:#fff;box-sizing: border-box;overflow-y:scroll;height: 100%;}


/*私有*/
.l_tc_fzCont .l_content{padding:60px;}

.l_tc_fzCont,
.l_tc_dbCont{height:800px; margin-top:-380px;}

.l_tc_dbCont .l_content{padding:65px;}



/*搜索*/
.l_search{padding:45px 0;text-align: center;width: 70%;position: relative;margin:0 auto;}
.l_search .input1 input{border:2px solid #003f98;height:55px;width: 70%;padding-left:10px;font-size: 16px;width: 100%;}
.input2{position: absolute;right: -13px;top:44px;}
.sub{width:70px;height:60px;background: #003f98;border:none;color: #fff;font-weight: bold;display: inline-block;font-size: 16px;cursor: pointer;background: #003f98 url(../images/right_search.png) center no-repeat;}
.sub:hover{color:#f30; }


@media screen and (max-width: 1600px){

/*项目区位*/
.xmqw .xmqw_con ul{right: 14%;bottom:0;left:60px;}	
.xmqw .xmqw_tit{line-height: 30px;}
.xmqw .xmqw_btn{margin-bottom: 16.5%;}

/*国际配置*/
.gjpz .gjpz_div7  .gjpz_con,.gjpz .gjpz_div1 .gjpz_con{bottom: 25%;left: 70px;}
.gjpz .gjpz_div2 .gjpz_con{width:445px;top:22.5%;}
.gjpz_div3 .gjpz_btn li{margin-bottom: 10px;}
.gjpz .gjpz_div3 .gjpz_con{right: 70px;top:13%;}
.gjpz_div5 .gjpz_con{width: 445px;left: 70px;bottom:26%;}


}


@media screen and (max-width: 1400px){

/*项目区位*/
.xmqw .xmqw_con ul{right: 9%;left:40px;}
.xmqw .xmqw_con li{margin:0 0 10px;}	
.xmqw .xmqw_tit{line-height: 30px;}
.xmqw .xmqw_btn{margin-bottom: 10%;}




/*国际配置*/
.gjpz .gjpz_div7  .gjpz_con,.gjpz .gjpz_div1 .gjpz_con{width:400px;bottom: 22%;}
.gjpz .gjpz_div2 .gjpz_con{right:70px;width: 395px;}
.gjpz .gjpz_div3 .gjpz_con{top: 10%;right: 30px;}
.gjpz_div3 .gjpz_btn{margin-left:-27px;}

}


@media screen and (max-height: 900px){
	/*弹出层*/
	.l_tc_fzCont,
	.l_tc_dbCont{height:750px; margin-top:-395px;}
}

@media screen and (max-height: 800px){
	/*弹出层*/
	.l_tc_dbCont,
	.l_tc_fzCont{height:700px; margin-top:-330px;}
}

@media screen and (max-height: 700px){
	/*弹出层*/
	.l_tc_dbCont,
	.l_tc_fzCont{height:600px; margin-top:-280px;}
}
@media screen and (max-height: 600px){
	/*弹出层*/
	.l_tc_dbCont,
	.l_tc_fzCont{height:500px; margin-top:-230px;}
}


