@charset "utf-8";
/* CSS Document */
body { font:14px "microsoft Yahei","Arial",sans-serif; color: #333;overflow-x:hidden;width:100%;}
*{padding:0;margin:0;}
img{border:0; vertical-align: middle;}
ul,li{list-style:none;}
a{text-decoration:none;}
input{  border: 0; background:none; font:14px "microsoft Yahei","Arial",sans-serif; width: 100%;}
h2{font-weight:400;}
em,i{ font-style:normal;}
b{ font-weight:normal;}
/*a:hover{ color:#f60;}*/


/*文本框默认颜色*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {opacity:0.8; color: #333}
input:-moz-placeholder, textarea:-moz-placeholder {opacity:0.8; color: #333}
input::-moz-placeholder, textarea::-moz-placeholder { opacity:0.8; color: #333}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {opacity:0.8; color: #333}

/*回顶部*/
#top{position:fixed; bottom:25%; right:20px; display: none;border-radius:3px; cursor:pointer; width:50px; height:50px; background:#666 url(../images/top.png); transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in; z-index:9999;}	
#top:hover{background:#333 url(../images/top.png) 0px -50px;}




/*图片放大*/
.tr_sc{ overflow:hidden; display:block;}
.tr_sc img{transition:0.3s all; -webkit-transition:0.3s  all;}
.tr_sc:hover img{transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);}

/*其他公用*/
.wrap{width: 1200px; margin: 0 auto;}
.ww{ word-wrap: break-word;}

.header,.main,.footer{overflow:hidden;}
.cl{clear:both;overflow:hidden;}


/*公用头尾*/



/*首页*/

a{display:block;width:100px;height:30px;background:blue;color:#fff;}
.hov a:hover {background:red;}
.hov .btnBox a:hover{background:yellow;}


/*--ipad横--*/
@media screen and (max-width:1200px){/*--1024--*/
	
}
/*--ipad竖--*/
@media screen and (max-width:1002px){/*--768--*/
	
}
/*--手机横--*/
@media screen and (max-width:758px){/*--480--*/
	
}
/*--手机竖--*/
@media screen and (max-width:470px){/*--320--*/
	
}





















































































































































































































































































































































































































































































































































































































































































































































